<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Object Wisata and Tour Guide for you">
    <meta name="dicoding:email" content="sandayazisprayogi12@gmail.com">
    <meta name="theme-color" content="#2E4C6D"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <title>Mai Tour</title>   
    <link
      rel="preload"
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
      />      
    </noscript>
</head>
<body>
    <skip-content></skip-content>
    <header>
        <app-bar></app-bar>
    </header>    
    <main></main>    
    <footer>
        <content-footer></content-footer>
    </footer>    
</body>      
</html>