.about{
    padding-top: 2rem;    
    background-color: #F0E9D2;
}
#content-hero__aboutUs {
    background: url('/images/hero-2-xl.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;    
}
#content-hero__aboutUs .container{
    z-index: 1;
    border-radius: 20px;
}
#content-hero__aboutUs h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}
@media screen and (max-width: 768px) {
    #content-hero__aboutUs h1{
        font-size: 3rem;
    }    
}
@media screen and (max-width: 375px) {
    #content-hero__aboutUs h1{
        font-size: 2.5rem;
    }    
}
@media screen and (max-width: 600px) {
    #content-hero__aboutUs {
    background: url('/images/hero-2-small.jpg'); 
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;   
}
}
@media screen and (max-width: 900px) {
    #content-hero__aboutUs {
    background: url('/images/hero-2-large.jpg');  
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;  
}
}