/* Content Hero */
#content-hero img{
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
#content-hero .carousel-control-prev-icon::after, #content-hero .carousel-control-next-icon::after {
    content: none;
}
#content-hero h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
#content-hero h1:nth-child(1){
    font-size: 2rem;
}
#content-hero h1:nth-child(2){
    font-size: 5rem;
}

#content-hero .container{
    z-index: 1;
    border-radius: 20px;
}
#content-hero .container a {
    min-width: 44px;
    min-height: 44px;
}

/* About Bali */
#mainContent #about__bali h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

#mainContent #about__bali .col p{
    text-align: justify;
    text-indent: 2em;
}
#mainContent #about__bali .col img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 16px 0px;
}

/* Rekomended Wisata */
#mainContent #rek__wisata{
    background-color: #2E4C6D;
}
#mainContent #rek__wisata h1{
    font-family: 'Fredoka One', cursive;
}
#mainContent #rek__wisata .d-grid a{
    font-family: 'Roboto Mono', monospace;
    min-height: 44px;
    min-width: 44px;
}
#mainContent #rek__wisata .row .col .card img{
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;    
}
#mainContent #rek__wisata .row .col .card:hover{
    cursor: pointer;   
}
#mainContent #rek__wisata .row .col .card{
    border-radius: 15px;
}
#mainContent #rek__wisata .row .col .card .card-img-overlay{     
    background: transparent linear-gradient(180deg, rgb(13 28 52 / 0) 0, rgb(13 28 52 / 50%) 100%) 0 0 no-repeat padding-box;
    width: 100%;
    height: 100%;
    text-align: center;
}

#mainContent #rek__wisata .rek__wisata .card .card-title{    
    border-radius: 8px;        
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}

/* modal rekomendasi wisata */
#mainContent #rek__wisata .modal .modal-body .row img{    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
#mainContent #rek__wisata .modal .modal-body .modal-header{    
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
}
#mainContent #rek__wisata .modal .modal-body .modal__des{    
    text-align: justify;
    text-indent: 2em;
}


/* Guide Tour */
#rek__guidetour .parallax{
    background: url('/images/hero/hero-4.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#rek__guidetour .parallax h1{
    font-family: 'Fredoka One', cursive;
}
#rek__guidetour .parallax h2{
    font-family: 'Righteous', cursive;
}
#rek__guidetour .parallax .d-grid a{
    font-family: 'Righteous', cursive;
    min-height: 44px;
    min-width: 44px;
}
#rek__guidetour .parallax img{
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
#rek__guidetour .row .col .card .card-img-overlay{     
    background: transparent linear-gradient(180deg, rgb(13 28 52 / 0) 0, rgb(13 28 52 / 50%) 100%) 0 0 no-repeat padding-box;
    width: 100%;
    height: 100%;
    text-align: center;
}
#rek__guidetour .row .col .card {     
    border-radius: 20px;
}
#rek__guidetour .row .col .card .card-img{         
    opacity: 1;  
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#rek__guidetour .row .col .card:hover .card-img{
opacity: 0.5;
}

#rek__guidetour .row .col .card:hover .middle {
opacity: 1;
}
#rek__guidetour .row .col .card:hover {     
    cursor: pointer;
}

/* info tour guide */
#info__tour h2{
    font-family: 'Fredoka One', cursive;
}

/* Responsive */
@media screen and (max-width: 375px) {
    #mainContent #rek__wisata .row .col .card img{
        width: 100%;
        height: 200px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
    #rek__guidetour .parallax .container .col .card-img-overlay h5{
        font-size: 15px;
    }
}
@media screen and (max-width: 425px) {
    #content-hero .container {
        width: 100% !important;
    }
    #content-hero .container p {
        font-size: 100%;
    }
    #rek__guidetour .parallax img{
        height: 250px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
    #mainContent #rek__wisata .modal .modal-dialog{    
        width: 80%;
        margin: auto;
    }
    #mainContent #rek__wisata .modal .modal-body .row .img{            
        height: 50vh;
    }
    #rek__guidetour .parallax .container .col .card-img-overlay h5{
        font-size: 18px;
    }
}

@media screen and (min-width: 765px) {
    #content-hero h1:nth-child(1){
        font-size: 2rem;
    }
    #content-hero h1:nth-child(2){
        font-size: 5rem;
    } 
    #mainContent #rek__wisata .modal .modal-body .row .img{    
        position: sticky;
        top: 0;
        height: 91.3vh;
    }  
}
@media screen and (min-width: 900px) {
    #content-hero h1:nth-child(1){
        font-size: 3rem;
    }
    #content-hero h1:nth-child(2){
        font-size: 10rem;
    }
}