*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Fredoka+One&family=Mochiy+Pop+P+One&family=Permanent+Marker&family=Poppins:wght@300&family=Righteous&family=Roboto+Mono:wght@100&display=swap');
@import 'appBar.css';
@import 'content-hero.css';
@import 'wisata.css';
@import 'guide.css';
@import 'about.css';
@import 'requirement.css';
@import 'detail.css';

.skip-link{
    position: absolute;
    top: -45px;
    left: 0;
    background-color: #bf1722;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus{
    top: 0;
}

a.skip-link{
    min-height: 44px;
    min-width: 44px;
    text-decoration: none;
}

main{
    min-height: 500px;
}