/* Content Hero */
#content-hero__wisata {
    background: url('/images/hero-3-xl.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;    
}
#content-hero__wisata .container{
    z-index: 1;
    border-radius: 20px;
}
#content-hero__wisata h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Permanent Marker', cursive;    
}
#content-hero__wisata h1:nth-child(1){
    font-size: 3rem;
}
#content-hero__wisata h1:nth-child(2){
    font-size: 5rem;
}


#content-hero .container{
    z-index: 1;
    border-radius: 20px;
}
#content-hero .container a {
    min-width: 44px;
    min-height: 44px;
}

/* About Wista Bali */
#mainContent #about__wisata h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

#mainContent #about__wisata .col p{
    text-align: justify;
    text-indent: 2em;
}
#mainContent #about__wisata .col img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

/* Destinasi Wisata */
#mainContent #des__wisata h1{
    font-family: 'Fredoka One', cursive;
}
#mainContent #des__wisata .card .card-body a{    
    min-height: 44px;
    min-width: 44px;
}
#mainContent #des__wisata .row .col .card img{
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
#mainContent #des__wisata .row .col .card .card-text{
    margin-top: 16px;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;    
}
#mainContent #des__wisata .row .col .card {
    border-radius: 20px;
    overflow: hidden;
}

#des__wisata .parallax{
    background: url('/images/hero-4-xl.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}


/* Responsive */
@media screen and (max-width: 375px) {
    #mainContent #des__wisata .row .col .card img{
        width: 100%;
        height: 200px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }    
}
@media screen and (min-width: 375px) {
    #mainContent #des__wisata .row{
        width: 100%;
        padding: 0 10px;
    }   
}
@media screen and (max-width: 768px) {
    #content-hero__wisata h1:nth-child(1){
        font-size: 1.9rem;
    }    
}
@media screen and (max-width: 425px) {
    #content-hero__wisata h1:nth-child(1){
        font-size: 1.6rem;
    }    
    #content-hero__wisata h1:nth-child(2){
        font-size: 3rem;
    }    
}

@media screen and (max-width: 600px) {
    #content-hero__wisata {
        background: url('/images/hero-3-small.jpg');
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        height: 100vh;           
    }
    #des__wisata .parallax{
        background: url('/images/hero-4-smal.jpg');
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;            
    }
}
@media screen and (max-width: 900px) {
    #content-hero__wisata {
        background: url('/images/hero-3-large.jpg');
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        height: 100vh;        
    }
    #des__wisata .parallax{
        background: url('/images/hero-4-large.jpg');
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
    }
}